/* ----- General ----- */
body {
	background-color: #E0F3F9;
	color: #0077AA;
	font-size: 12px;
	padding: 10px 0 10px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-family: Georgia, serif;
	font-weight: normal;
	text-align: center;
	font-weight: bold;
}

h2 {
	padding: 20px 0 0;
	text-align: center;
}

p {
	overflow: hidden;
	padding: 10px 0;
	text-align: center;
}

/* ----- Header ----- */
#header {
	border-bottom: 1px solid #cccccc;
}

#header #user_info {
	float: right;
}

.container_12 {
	background: #fff url(../../img/12_col.gif) repeat-y;
	margin-bottom: 20px;
}

.container_16 {
	background: #fff url(../../img/16_col.gif) repeat-y;
}

.container_24 {
	background: #fff url(../../img/24_col.gif) repeat-y;
}